<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @post.user.full_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<% already_liked = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if already_liked %>
  <%= button_to post_like_path(@post, already_liked), method: :delete do %>
    <%= image_tag('liked.svg') %>
  <% end %>
<% else %>
  <%= button_to post_likes_path(@post), method: :post do %>
    <%= image_tag('like.svg') %>
  <% end %>

<% end %><br><br><hr><br>

<p><b>Comments: </b></p><br>
<div class="posts-wrapper">
  <% @post.comments.each do |comment| %>
    <div class="post-wrapper">
      <div class="comments-wrapper">
        <%= comment.user.full_name %>: <%= comment.body %>
      </div>
  <% end %>

  <div class="new-comment-wrapper">
    <%= render 'comments/form', comment: @comment, post: @post %>
  </div>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
